main {
font-size: 0;
margin-left: auto;
margin-right: auto;	
width: 800px;
}

.top {
	height: 200px;
	width: 50%;
	font-size: 0;
	display: inline-block;
}

.top-left {
	background-color: green;
	border: 1px solid black;
}

.top-right {
	background-color: blue;
	border: 1px solid black;
}

.bottom {
	height: 300px;
	width: 33.33%;
	font-size: o;
	display: inline-block;
}

.bottom-left {
	background-color: gray;
	border: 1px solid black;
}

.bottom-middle {
	background-color: black;
	border: 1px solid black;
}

.bottom-right {
	background-color: yellow;
	border: 1px solid black;
}
